/* ------------------- Site style -------------- */

.div-header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.div-logo * {
  font-size: 25px;
  font-weight: bold;
}

/* [ Logout Button ] */
.container-logout100-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.logout100-btn {
  height: 32px;
  padding-left: 36px;
  padding-right: 10px;
  border: 0px solid #000000;
  background: transparent url("../img/logout.svg") no-repeat 10px center;
  cursor: pointer;
}
.logout100-btn *:hover {
  background-color: #333333;
}

/* ********* ------------------ */
#content{
  max-width: 1200px;
  margin: 0 auto;
}


.button.ok {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;

  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}


.button:hover {
  background-color: #4CAF50;
  color: white;
}


#footer{
  position: fixed; /* or absolute */
  right: 50%;
}