<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/util      http://www.springframework.org/schema/util/spring-util.xsd
       ">

    <import resource="spring-bean-core-conf.xml"/>

    <!-- Embed Database server definition (overrides the one in spring-bean-core) -->
    <!-- This uses HSQL and liquibase to load in-mem db server and commit pre defined scheme/data -->
    <bean id="HsqlDatabase" class="com.gildedrose.core.db.utils.HsqlDatabaseImp" >
        <!-- overrides bean definition to avoid launching init() since from this module here all db must be mocked-->
    </bean>

    <bean id="ItemAdapter" class="com.gildedrose.web.adapter.ItemAdapter" init-method="initIt" />
    <bean id="TaggingService" class="com.gildedrose.web.service.visitors.tagging.TaggingService" />

</beans>