#header{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

p.logo {
    font-size: 25px;
    font-weight: bold;
}

#content{
    max-width: 1200px;
    margin: 0 auto;
}


#footer{
    position: fixed; /* or absolute */
    right: 50%;
}